/*======================================= 
Variables
=======================================*/

:root {
    /* Colors */
    --clr-primary-800: hsl(300, 43%, 22%);
    /* Very Dark Magenta */
    --clr-primary-600: hsl(303, 10%, 53%);
    /* Dark Grayish Magenta */
    --clr-primary-100: hsl(300, 24%, 96%);
    /* Light Grayish Magenta */
    --clr-accent-400: hsl(333, 80%, 67%);
    /* Soft Pink */
    --clr-neutral-100: hsl(0, 0%, 100%);
    /* White */

    /* Font Family */
    --ff-base: 'League Spartan', sans-serif;

    /* Font Sizes */
    --fs-300: .875rem;

    --fs-400: 0.9375rem;
    /* 15px */
    --fs-800: 2rem;
    /* 32px */

    /* Font Weights */
    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 700;
}

/*======================================= 
Global
=======================================*/
* {
    box-sizing: border-box
}

body {
    font-family: var(--ff-base);
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h2,
p {
    font-size: inherit;
    margin: 0px;
}

/*======================================= 
Custom
=======================================*/

/*================= 
Proof 
=================*/
.proof {
    padding: 2rem;
}

/*================= 
Proof Hero
=================*/

.proof__hero-headline {
    font-size: clamp(2rem, 4vw, 4rem)
}

/*================= 
Proof Ratings
=================*/
.proof__ratings {
    display: flex;
    flex-direction: column;
    gap: var(--fs-400);
    width: 100%;
}

.proof__rating {
    background-color: var(--clr-primary-100);
    padding-block: var(--fs-400);
    border-radius: .5rem;
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
    gap: var(--fs-400);
    width: 100%;

}

/*================= 
Proof Testimonials
=================*/

.proof__testimonials {
    display: flex;
    flex-direction: column;
    gap: var(--fs-400)
}

.proof__testimonial {
    background-color: var(--clr-primary-800);
    padding: var(--fs-400) var(--fs-800);
    border-radius: .5rem;
}

.proof__testimonial-headline {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.proof__testimonial-headline img {
    height: 1.8rem;
    border-radius: 2rem
}

.proof__testimonial-text {
    text-align: left;
}

.proof__testimonial-info p {
    color: var(--clr-accent-400)
}


/*======================================= 
Utility
=======================================*/

/* Colors */

.clr-primary-800 {
    color: var(--clr-primary-800);
}

.clr-primary-600 {
    color: var(--clr-primary-600);
}

.clr-primary-100 {
    color: var(--clr-primary-100);
}

.clr-accent-400 {
    color: var(--clr-accent-400);
}

.clr-neutral-100 {
    color: var(--clr-neutral-100);
}

/*Font Weights */

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semibold {

    font-weight: var(--fw-semibold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

/* Font Sizes */

.fs-400 {
    font-size: var(--fs-400);
}

.fs-800 {
    font-size: var(--fs-800);
}

/* Text Align */

.text-left {
    text-align: left;
}

/* Margin Bottom */
.margin-bottom {
    margin-bottom: 1rem;
}

@media (min-width: 1000px) {
    .proof{
        padding: 5rem
    }

    .proof__top {
        display: flex;
        gap: 10rem;
    }

    .proof__hero-headline{
        margin-top: 0px;
    }

    .proof__hero {
        text-align: left;
    }

    .proof__ratings {
        width: 100%;
    }

    .proof__rating {
        flex-direction: row;
        justify-content: center;
        font-size: var(--fs-300);
        width: 90%;
    }

    .first {
        align-self: start;
    }

    .second {
        align-self: center;
    }

    .third {
        align-self: end;
    }

    .proof__testimonials{
        margin-top: 2.5rem;
        flex-direction: row;
        height:15rem;
    }
    .proof__testimonial{
        padding-block: 3rem;
    }
}