/*======================================= 
Variables
=======================================*/
:root {
    /* Colors */
    --clr-primary-800: hsl(300, 43%, 22%);
    --clr-primary-600: hsl(303, 10%, 53%);
    --clr-primary-100: hsl(300, 24%, 96%);
    --clr-accent-400: hsl(333, 80%, 67%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    /* Font */
    --ff-base: 'League Spartan', sans-serif;

    /* Font Sizes */
    --fs-300: .875rem;
    --fs-400: 0.9375rem;
    --fs-800: 2rem;

    /* Font Weights */
    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 700;
}

/*======================================= 
Global Styles
=======================================*/

html, body {
    height: 100%;
}

body {
    padding-inline: 1.5rem;
    padding-block: 3rem;
    font-size: .9375rem;
    text-align: center;
    font-family: "League Spartan", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}

/*======================================= 
Proof Section
=======================================*/

.proof {
    display: grid;
    height: 100%;
}

/* Proof Header */

.proof__header {
    display: grid;
    gap: 1rem;
    align-content: center;
}

.proof__header h1 {
    font-size: clamp(var(--fs-800), 6vw, 4rem);
    line-height: clamp(1.7rem, 4.5vw, 3rem);
}

.proof__header p {
    font-size: clamp(var(--fs-400), 6vw, 1rem);
    line-height: 1.2rem;
}

/* Proof Ratings */
.proof__ratings {
    display: grid;
    gap: 1rem;
    align-self: center;
}

.proof__rating {
    background-color: var(--clr-primary-100);
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
    gap: .5rem;
    width: 100%;
}



.proof__rating-stars {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

/* Proof Testimonials */

.proof__testimonials {
    display: grid;
    gap: clamp(1rem, 6vw, 2rem);;
}

.proof__testimonial {
    background-color: var(--clr-primary-800);
    color: white;
    border-radius: .5rem;
    display: grid;
    gap: 1rem;
    align-items: center;
}

.proof__testimonial-top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.proof__testimonial-info h2 {
    font-weight: var(--fw-bold);
    line-height: 1.3;
}

.proof__testimonial img {
    height: 2em;
    border-radius: 2rem;
}

.proof__testimonial p {
    color: var(--clr-accent-400)
}

.proof__testimonial blockquote {
    text-align: left;
    line-height: 1.2;
}

/*======================================= 
Utility Classes
=======================================*/
.clr-primary-800 {
    color: var(--clr-primary-800);
}

.clr-primary-600 {
    color: var(--clr-primary-600);
}

.clr-primary-100 {
    color: var(--clr-primary-100);
}

.clr-accent-400 {
    color: var(--clr-accent-400);
}

.clr-neutral-100 {
    color: var(--clr-neutral-100);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semibold {
    font-weight: var(--fw-semibold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-800 {
    font-size: var(--fs-800);
}

.text-left {
    text-align: left;
}

.margin-bottom {
    margin-bottom: 1rem;
}

/*======================================= 
Desktop Styles
=======================================*/


@media (min-width:760px) {
    .proof {
        display: grid;
        grid-template-areas:
            "left . right"
            "bottom bottom bottom"
            ". . .";
        grid-template-columns: 7fr 4fr 9fr;
        grid-template-rows: 3fr 2.5fr 1fr ;
    }

    .proof__header {
        grid-area: left;
        text-align: left;
    }

    .proof__ratings {
        grid-area: right;
    }

    .proof__rating {
        width: 87%;
        display: flex;
        align-items: center;
    }

    .proof__testimonials {
        grid-area: bottom;
        grid-auto-flow: column;
        border: 2px solid
    }



    .first {
        place-self: start;
    }

    .second {
        place-self: center;
    }

    .third {
        place-self: end;
    }

    body {
        padding-inline: 10%;
        padding-block: 5%;
    }
}